@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

/* resets */

* {
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    background:#cafc79;
    height: 100%;
}
#root{
    height:100%;
}


label {
    margin: 10px 0;
    font-weight: bold;
}

input,textarea {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;

}

h1,h2{
    text-shadow: 2px 2px 5px rgb(232, 243, 232);
}

p {
    color: #000;
    font-weight: bold;
}

p a {
    color: #79155B;
}

/* styles (BEM) */
.register-form,
.login-form,.answers-form,.create-test-form{
    display: flex;
    flex-direction: column;
    background: #e280ff;
    padding: 15px;
    /*border-top-left-radius: 15px;*/
    border-radius: 15px;
    box-shadow: 7px 7px 7px #79155B;
}
.create-test-form{
    margin-top:80px;
}

/* login */
.register-view,.login-view,.create-test-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#cafc79;;
    height:100%;
}
/* home */
.home-header {
    position: fixed;
    top: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#a7eb4a;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.home-title {
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px #fff;
}

.home-main {
    padding: 3rem 0;
}

.home-footer {
    background-color:#a7eb4a;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.test-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn-test{
    background-color:#e280ff;
    color:#000;
    padding:5px;
    text-decoration:none;
    border-radius:5px;
    border-color:#7f69a5;
    box-shadow: #000;
}
.btn-teacher-home,.btn-student-home{
    background-color:#216d19;
    color:#fff;
    padding:5px;
    text-decoration:none;
    border-radius:5px;
    font-weight: bold;
}
.btn-send{
    background-color:#b7a194;
    color:#000;
    padding:5px;
    text-decoration:none;
    border-radius:5px;
    font-weight: bold;
    margin-top:5px;
}

.btn-cancel{
    background-color:#cafaba;
    color:#000;
    padding:5px;
    text-decoration:none;
    border-radius:5px;
    font-weight: bold;  
    margin-top:5px;  
}
.home-tests,.list-student{
    text-align: center;
    
}
#students-list{
    text-align:center;
}
.search-tests,.test-view{
    padding-top:50px;
    text-align: center;
}
.test-information{
    border:2px solid black;
    padding:10px;
    background-color:#a8cc74;
}
.logo{
    width:5%;
    position:absolute;
    left:0px;
}
