/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';*/
/* resets */
* {
    font-family: 'Acaya Telivigala';
    font-size: 22px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #90f8b1, #e0fde2);
}

/* register */

.register-form {
    display: flex;
    flex-direction: column;
}

/* login */

.login-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 0, 0, 0.966);
}

.register-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: cadetblue
}

.login-form {
    display: flex;
    flex-direction: column;
}

/* home */
.home-header {
    position: fixed;
    top: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(135deg, rgba(154, 253, 252, 0.865), rgba(255, 161, 181, 0.865));
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.home-title {
    font-size: 1.5rem;
    font-family: 'Acaya Telivigala';
    font-size: 20px;
}

.home-main {
    padding: 3rem 0;
}

.home-footer {
    background-image: linear-gradient(135deg, rgb(237, 143, 54), rgb(255, 206, 113));
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.home-create-artwork-modal {
    background-color: rgba(0, 0, 0, 0.497);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-create-artwork-container {
    background-image: linear-gradient(135deg, rgb(242, 20, 116), rgb(244, 138, 186));
    padding: 1rem;
}

.home-create-artwork-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.home-edit-artwork-modal {
    background-color: rgba(241, 176, 161, 0.457);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-edit-artwork-container {
    background-image: linear-gradient(135deg, rgba(243, 181, 114, 0.868), rgba(255, 239, 213, 0.868));
    padding: 1rem;
}

.home-edit-artwork-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.home-delete-artwork-modal {
    background-color: rgba(197, 246, 247, 0.883);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-delete-artwork-container {
    background-image: linear-gradient(135deg, rgb(9, 168, 123), rgb(166, 255, 211));
    padding: 1rem;
}

.home-delete-artwork-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.home-artworks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.home-artwork {
    width: 40%;
}

.home-artwork-image {
    width: 100%;
}

/* cosos */

.home-description {
    font-style: italic;
}

.home-ornament {
    font-size: 0.7rem;
}