/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';*/
/* resets */
* {
    @font-face {
        font-family: 'Open Sans';
        src: url('fonts/OpenSans-Regular.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
    }
}

body {
    height: 100%;
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-style: italic;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #ad4df2, #e7a4fd);
}

/* register */
.register-login-link{
    font-size: 1.1rem ; 
}
.register-form {
    display: flex;
    flex-direction: column;
}
.name-type {
    font-size: 1.3rem ;
}
.email-type {
    font-size: 1.3rem ; 
}
.password-type {
    font-size: 1.3rem ; 
}
.zip-type {
    font-size: 1.3rem ; 
}
.phone-type {
    font-size: 1.3rem ; 
}
/* login */
.login-register-link {
    font-size: 1.1rem ;
}
.login-view {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(130, 7, 65);
    background: linear-gradient(to bottom, #f2358d, #f7c7e1);
}

.register-view {
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: rgb(2, 86, 88);
    background: linear-gradient(to bottom, rgb(7, 200, 206), rgb(204, 246, 248))
}

.login-form {
    display: flex;
    flex-direction: column;
}

/* home */
.home-header {
    position: fixed;
    top: 0;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(135deg, rgba(129, 250, 248, 0.865), rgba(142, 160, 252, 0.865));
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.home-title {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-style: italic;
    font-size: 1.7rem;
}

.home-main {
    padding: 3rem 3rem;
}

.home-footer {
    background-image: linear-gradient(135deg, rgb(241, 135, 35), rgb(251, 212, 139));
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.7rem;
}

/*artworks*/
.home-create-artwork-modal {
    background-color: rgba(97, 209, 237, 0.906);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-create-artwork-container {
    background-image: linear-gradient(135deg, rgb(242, 20, 116), rgb(244, 138, 186));
    padding: 1rem;
}

.home-create-artwork-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.home-create-artwork-form-description{
   max-width: 80%;
}

.home-edit-artwork-modal {
    background-color: rgba(248, 112, 112, 0.915);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-edit-artwork-container {
    background-image: linear-gradient(135deg, rgba(243, 181, 114, 0.868), rgba(255, 239, 213, 0.868));
    padding: 1rem;
}

.home-edit-artwork-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.home-delete-artwork-modal {
    background-color: rgba(244, 233, 82, 0.883);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-delete-artwork-container {
    background-image: linear-gradient(135deg, rgb(9, 168, 123), rgb(166, 255, 211));
    padding: 1rem;
}

.home-delete-artwork-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.home-artworks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.home-artwork {
    width: 40%;
}

.home-artwork-image {
    width: 300px;
    max-height: 400px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 4px 4px 4px #973ebe;
    border-style: inset;
}

/*workshop*/
.home-create-workshop-modal {
    background-color: rgba(219, 246, 192, 0.951);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 0.8rem;
}
.home-create-workshop-form-description{
    max-width: 80%;
}

.home-create-workshop-container {
    background-image: linear-gradient(135deg, rgb(8, 180, 59), rgb(155, 241, 163));
    padding: 0.2rem;
}

.home-create-workshop-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.home-edit-workshop-modal {
    background-color: rgba(249, 135, 211, 0.867);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-edit-workshop-container {
    background-image: linear-gradient(135deg, rgba(100, 198, 246, 0.868), rgba(184, 231, 246, 0.868));
    padding: 1rem;
}

.home-edit-workshop-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
}

.home-delete-workshop-modal {
    background-color: rgba(252, 138, 170, 0.96);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-delete-workshop-container {
    background-image: linear-gradient(135deg, rgb(153, 214, 10), rgb(218, 249, 145));
    padding: 1rem;
}

.home-delete-workshop-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.home-workshop {
    width: 40%;
}

.home-workshop-image {
    max-width: 100%;
    max-height: 350px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 3px 3px 3px #813d9e;
    border-style: inset;
}

.home-workshop-video {
    max-width: 100%;
    max-height: 350px;
}

/* cosos */
/*artworks*/

.home-descriptionA {
    font-style: italic;
    font-size: 1.2rem;
}

.home-materials {
    font-style: italic;
    font-size: 1.2rem
}

.home-ornament {
    font-style: italic;
    font-size: 1.2rem
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    
    width: 100%;
}
.image-logo {
    width: 170px;

}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.form-container {
    display: flex;
    flex-direction: center;
}

/*workshops*/

.home-descriptionW {
    font-style: italic;
    font-size: 1.2rem
}

.home-lugar {
    font-style: italic;
    font-size: 1.2rem
}

.home-fechainicio {
    font-style: italic;
    font-size: 1.2rem
}

.home-fechafin {
    font-style: italic;
    font-size: 1.2rem
}

.home-limiteasistentes {
    font-style: italic;
    font-size: 1.2rem
}

.home-zip {
    font-style: italic;
    font-size: 1.2rem
}

/*about*/
.moreinfo {
    max-width: 100%;
    border-radius: 8px;
    font-weight:bold;
    border-style: inset;
    font-size: 1.6rem;
    justify-content:center;
    align-items: center;
    display:flexbox;
    padding: 2rem;
    color:rgb(243, 246, 246);
}
.moreinfo-image {
box-shadow: 10px 10px 10px #893aab;
border-radius: 5px;
max-width: 450%;
max-height: 550px;
justify-content:left;
}

/*butoms*/

button{
    border-radius: 9px;
    color: rgb(105, 20, 170);
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px #8f3cb2;
    box-decoration-break: clone;
-webkit-box-decoration-break: clone;
    margin: 0.3rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.register-container {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.gracias-equipo{
    color:antiquewhite;
}
#agradecimiento {
    background-color:#9042b1;
    padding-left: 12px;
    border-radius: 7px;  
}
.reciclaje-arte {
    color:antiquewhite; 
}
#arte {
    background-color: #8f3cb2;
    padding-left: 12px;
    border-radius: 7px;
}
.reduce-estres {
    color:antiquewhite; 
}
#estres {
    background-color: #8e32b6;
    padding-left: 12px;
    border-radius: 7px; 
}
.sensacion-confort {
    color:antiquewhite;
}
#confort {
    background-color: #8727b0;
    padding-left: 12px;
    border-radius: 7px;  
}
.cualidad-haptica {
    color:antiquewhite; 
}
#haptica {
    background-color: #9130ba;
    padding-left: 12px;
    border-radius: 7px;   
}
.futuro-sostenible {
    color:antiquewhite;
}
#sostenible {
    background-color: #8e33b5;
    padding-left: 12px;
    border-radius: 7px;  
}
.medio-ambiente {
    color:antiquewhite;
}
#ambiente {
    background-color: #8d35b3;
    padding-left: 12px;
    border-radius: 7px;  
}
.aplicacion-creada {
    color:antiquewhite; 
}
#aplicacion {
    background-color: #9437bb;
    padding-left: 12px;
    border-radius: 7px;  
}
.title {
    color:antiquewhite; 
}
#hablemos {
    background-color: #8d37b1;
    padding-left: 12px;
    border-radius: 7px;  
}  



