/*gridStyle.css*/
* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    /*rejilla*/
    grid-template-areas:'f1 f1 f1' /*f1*/
        'f2 f2 f2 ' /*f2*/
        'f3 f3 f3'  /*f3*/ /*sin coma al final*/
}

.grid-container div {
    border: 1px solid black;
    color: #fff;
    text-align: center;
}

.item-1 {
   grid-area: f1;
   background-color: red;
}

.item-2 {
   grid-area: f2;
   background-color:green;
}

.item-3 {
   grid-area: f3;
   background-color: navy;
}