body {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60 20%;
  height: 100vw;
  width: 100%;
  margin: 0;
}

header {
  grid-column: 1/4;
  grid-row: 1/2;
  border: solid;
}

nav {
  grid-column: 1/2;
  grid-row: 2/3;
  border: solid;
}

section {
  grid-column: 2/3;
  grid-row: 2/3;
  border: solid;
}

aside {
  grid-column: 3/4;
  grid-row: 2/3;
  border: solid;
}

footer {
  grid-column: 1/4;
  grid-row: 3/4;
  border: solid;
}
