body {
    font-family: sans-serif;
    background-color: beige;
}

.home {
    color: rgb(98, 9, 108);
    background-size: 100% 100%;
    background-image: url("big-sur.jpeg");
    background-repeat: no-repeat;
    padding: 1em;
}

.right {
    justify-items: right;
}

.left {
    justify-items: left;
}

.cen {
    justify-items: center;
    align-items: center;
}

.form {
    display: grid;
    background-color: lightgrey;
    width: 80%;
    height: 60vh;
    grid-template-areas: "lab-1 box-1"
        "lab-2 box-2"
        "lab-3 box-3";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repat(3, 1fr);
    border-radius: 10%;
    align-items: center;
}

.lab-1 {
    display: grid;
    grid-area: lab-1;
    justify-content: right;
}

.lab-2 {
    display: grid;
    grid-area: lab-2;
    justify-items: right;
}

.lab-3 {
    display: grid;
    grid-area: lab-3;
    justify-items: right;
}

.box-1 {
    display: grid;
    grid-area: box-1;
    justify-items: left;
    width: 70%;
}

.box-2 {
    display: grid;
    grid-area: box-2;
    justify-items: left;
    width: 70%;
}

.box-3 {
    display: grid;
    grid-area: box-3;
    justify-items: left;
    width: 70%;
}

.action {
    padding: 5%;
    width: 70%;
    display: flex;
    justify-content: center;
}