body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  background: linear-gradient(
    90deg,
    rgba(252, 0, 255, 1) 60%,
    rgba(0, 237, 255, 1) 91%
  );

  width: 100%;
  height: 45px;
  border-bottom: solid black 2px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(252, 0, 255, 1) 60%,
    rgba(0, 237, 255, 1) 91%
  );

  border-top: solid black 2px;
  z-index: 1;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: center;
  gap: 10px;
  background: linear-gradient(
    90deg,
    rgba(252, 0, 255, 1) 60%,
    rgba(0, 237, 255, 1) 91%
  );
  margin: 10px;
  width: 300px;
  height: auto;
  border-radius: 20px;
  border: solid 2px black;
  box-shadow: 4px 4px 4px;
  padding-bottom: 5px;
}

h2 {
  margin: 5px;
}

input {
  border-radius: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  margin-right: 5px;
}

.home-view {
  width: 100%;
}

.home {
  padding: 0;
  margin: 0;
  height: 90vh;
  width: 100%;
}

.all-posts {
  padding-bottom: 60px;
}

.post {
  background: linear-gradient(
    90deg,
    rgba(252, 0, 255, 1) 60%,
    rgba(0, 237, 255, 1) 91%
  );

  width: 400px;
  border: solid black 2px;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
}

.name {
  margin-left: 5px;
}

.message {
  margin-left: 5px;
}

.h3-new-post,
.h3-delete-post {
  margin: 5px;
}

.container-new-post,
.container-edit-post,
.container-delete-post {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-new-post,
.form-edit-post,
.form-delete-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  background: linear-gradient(
    90deg,
    rgba(252, 0, 255, 0.9) 60%,
    rgba(0, 237, 255, 0.9) 91%
  );
  border: solid 3px;
  border-radius: 10px;
  width: 250px;
}

.buttons-create-cancel {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5px;
}

.nameDiv {
  width: 92%;
  padding-left: 10px;
  border: inset 3px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
}

.name-post {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}

.img-post {
  width: 97%;
  height: auto;
  border: solid;
  border-radius: 10px;
}

.div-button-edit-delete {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.editButton,
.deleteButton,
.favButton {
  margin-top: 0;
  margin-bottom: 10px;
}

/* CSS */
button {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 2px 10px;
  outline: none;
  padding: 0.6rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

textarea {
  resize: none;
}

.p-form {
  margin: 3px;
}

.hidden {
  overflow: hidden;
}

.off {
  display: none;
}
