@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

a {
  cursor: pointer;
  text-decoration: none
}

.login {
    background-color: #f9e79f; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    height: 100%;
  }
  
.login h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #e67e22; /* Color caramelo */
  }
  
.login-form div {
    margin-bottom: 15px;
  }
  
.login-form label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #d35400; /* Color caramelo oscuro */
  }
  
.login-form .input {
    width: 80%;
    padding: 10px;
    border: 2px solid #e67e22; /* Color caramelo */
    border-radius: 5px;
    font-size: 16px;
    max-width: 350px ;
  }
  
.button {
    background-color: #fdcb6e; /* Color flan */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.button:hover {
    background-color: #f39c12; /* Color flan oscuro */
  }
  
.link-register {
    color: #d35400; /* Color caramelo oscuro */
    font-size: 20px;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  
  
.link-register:hover {
    text-decoration: underline;
  }

.register {
    background-color: #f9e79f; /* Color amarillo claro */
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    height: 100vh;
  }
  
.register h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #e67e22; /* Color caramelo */
  }
  
.register-form div {
    margin-bottom: 15px;
  }
  
.register-form label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #d35400; /* Color caramelo oscuro */
  }
  
.register-form .input {
    width: 80%;
    padding: 10px;
    border: 2px solid #e67e22; /* Color caramelo */
    border-radius: 5px;
    font-size: 16px;
    max-width: 350px ;
  }
  
.link-login {
    color: #d35400; /* Color caramelo oscuro */
    font-size: 20px;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  

.link-register:hover {
    text-decoration: underline;
  }
  
.home {
    width: 100%;
    height: 100%;
  }

.header {
    width: 100%;
    height: 70px;
    background-color: #f9e79f;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
  }

.h2-header {
    color: #d35400;
  }

.div-h2-img {
    display: flex;

  }

.icon-flan {
    width: 60px;
    height: auto;
  }

.div-search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
  }

.search-input {
    height: 25px;
    border-radius: 20px;
    padding-left: 10px;
    max-width: 130px;
  }

.search-button {
    height: 30px;
    border-radius: 0 20px 20px 0;
  }

.button-logout {
    margin-right: 30px;
    padding: 6px 14px;
  }

.main-home {
    padding-top: 70px;
  }
  
.footer {
    width: 100%;
    height: 70px;
    background-color: #f9e79f;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
.footer-emogis {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    border-bottom: 2px solid transparent; /* Para ocultar la línea debajo del enlace */
    transition: transform 0.2s; /* Transición para el efecto de escala al pasar el ratón */
  }
  
.footer-emogis:hover {
    transform: scale(1.2); /* Hace que el enlace se agrande al pasar el ratón */
  }

.footer-profile-image {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-right: 10px;
    object-fit: cover;
    margin-bottom: -5px;
  }

.modal-new-post,
.modal-edit-post,
.modal-edit-user,
.modal-delete-post {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-new-post,
.form-edit-post,
.form-edit-user,
.form-delete-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #f9e79f;
  border: solid 3px;
  border-radius: 10px;
  width: 250px;
}

.h3-new-post,
.h3-delete-post,
.h3-edit-post {
  font: bold;
  font-size:x-large;
  margin: 0;
  color: #d35400;
  margin-bottom: 10px;
}

.p-form{
  margin: 5px;
  color: #d35400;
  font-weight: bold
}

.buttons-create-cancel {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;;
}

.button-modal {
  font-size: 16px;
  padding: 6px 14px;
}

.all-posts {
  margin-top: 10px;
  padding-bottom: 65px;
}

.post {
  background-color:#f9e79f;
  margin-bottom: 15px;
}

.header-post {
  display: flex;
  background-color: #f9e79f;
  justify-content: space-between;
  align-items: center;
}

.nameImageDiv {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f9e79f;
}

.profile-image-post {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
  object-fit: cover;
}

.name-post{
  font-weight: bold;
  color:#d35400;
  font-size: 20px;
  margin: 0;
  text-decoration: none;
}

.favButton {
  padding: 5px 5px;
  width: 45px;
  margin-right: 10px;
  font-size: 25px;
}

.img-post {
  width: 100%;
}

.text-post {
  margin: 5px;
  margin-left: 10px;
  color: #d35400;
  font-weight: bold;
}

.div-button-edit-delete {
  display: flex;
  justify-content: end;
  padding-right: 10px;
  padding-bottom: 10px;
  gap: 15px
}

.profile-image-name-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.profile-image-name {
  display: flex;
  align-items: center;
  
}

.user-buttons-profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px
}

.edit-profile-button {
  width: 90px;
  height: 33px;
}

.description-profile {
  color:#d35400;
  font-weight: bold;
  border-bottom: solid grey 2px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 0;
}

.two-buttons-profile {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border-bottom: solid grey 2px;
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-not-followed, 
.posts-users-not-followed {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-not-followed {
  margin-bottom: 10px;
}

.posts-users-not-followed {
  padding-bottom: 85px;
}

.h2-explorer {
  color: #d35400;
  margin-bottom: 10px;
}

.user {
  display: flex;
  margin-bottom: 10px;
  width: 80%;
  background-color: #f9e79f;
  border-radius: 30px ;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-img-a {
  display: flex;
  align-items: center;
}

.search-modal {
  position: fixed;
  top: 55px;
  left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-peak {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 24px solid white;
}

.table-modal {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-search {
  padding: 5px 10px;
}

.all-chats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 85px;
  width: 100%;
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: solid 2px grey;
  margin: 5px;
}

.users-chat {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-image-name {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}

.text-chat {
  margin: 5px;
  margin-left: 10px;
}