
    /*ESTILOS NAVBAR*/
    .layout__navbar {
      width: 100%;
      grid-area: nav;
      background-color: #3785E5;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 2rem;
      height: 5.3rem;
    }

    .bg-orange {
      background-color: #F9A221;
    }

    .background-personalized-register {
      background-color: #3785E5;
      color: white;
      padding: 10px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .background-personalized-register:hover {
      background-color: blue;
    }

    .background-personalized-login {
      background-color: #3785E5;
      color: white;
      padding: 10px;
    }

    .background-personalized-login:hover {
      background-color: rgb(210, 73, 23);
    }

    .display-flex {
      display: flex;
      justify-content: space-around;
    }
