/*ciudad en ccss*/
*{
    padding: 0;
    margin: 0;
}
.sun {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #e9ec13;
    margin:0 auto;
}
body{
    background-color: rgb(103, 103, 241);
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.flex-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content:start
}
.justify-end{
    justify-content: end;
}
.items-center{
    align-items: center;
}
.items-end{
    align-items: end;
}
.absolute{
    position: absolute;
}
.self-center{
    align-self: center;
}
.bg-aqua{
    background-color: aqua;
}
.bg-black{
    background-color: black;
}
.justify-around{
    justify-content: space-around;
}

.sea {
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(68, 212, 104);
}
.street{
    bottom: 100px;
    height: 100px;
    width: 100%;
    background-color: grey;
}
.street-line{
    
    background-color:yellow;
    border:1px solid black;
    width:100x;
    height:10px;
    bottom:420px;
    justify-content: space-between;
}
.build-1{
    bottom: 150px;
    height: 420px;
    left: 20px;
    width: 150px;
}
.build-2{
    bottom: 150px;
    height:420px;
    left:550px;
    width: 150px;
    background-color:rgb(233, 119, 153);
    border:1px solid black;
}
.antenna{
    gap: 4px;
    margin-bottom: 15px;
}
.horizontal-antenna-stick{
    width: 20px;
    height: 2px;
}
.vertical-antenna-stick{
    top: 0;
    right: 50%;
    width: 2px;
    height: 30px;
}
.rooftop{
    width: 100px;
    height: 40px;
    background-color: brown;
    padding-left: 4px;
}
.rooftop-door{
    width: 18px;
    height: 30px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    padding-right: 2px;
}
.bracelet-rooftop-door{
    width: 2px;
    height: 2px;
    border-radius: 50%;
}
.floors-build-1{
    background-color: olivedrab;
    gap: 30px;
    padding-top: 20px;
}
.floor-window-container{
    gap: 20px;
}
.window-build-1{
    width: 50px;
    height: 50px;
    grid-template-areas: 
    'a b'
    'c d';
    grid-gap: 3px
}
.window-build-2{
    width: 50px;
    height: 50px;
    grid-template-areas: 
    'a b'
    'c d';
    grid-gap: 3px
}
.window-separation-a{
    grid-area: a;
    background-color: aqua;
}
.window-separation-b{
    grid-area: b;
}
.window-separation-c{
    grid-area: c;
}
.window-separation-d{
    grid-area: d;
}
.build-door{
    width: 46px;
    height: 80px;
    background-color: maroon;
    padding-right: 4px;
}
.bracelet-build-door{
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.car-1{
    width:150px;
    height:60px;
    bottom:125px;
    left:200px;

}
.car-1-body{
    width:100%;
    background-color: brown;
    height:45%;
    border-radius: 5px;
}
.car-1-roof{
    width:50%;
    background-color: brown;
    height:35%;
    border-radius: 10px 10px 0 0;
}
.car-1-wheels{
    width: 100%;
    height: 40%;
}
.car-1-wheel{
    position: relative;
    top: -5px;
    height: 100%;
    width: 13%;
    border: 1px solid;
    border-radius: 50%;
}
.car-2{
    width:150px;
    height:60px;
    bottom:125px;
    left:370px;
}
.car-2-body{
    width:100%;
    background-color: rgb(71, 13, 40);
    height:80%;
    border-radius: 5px;
}
.car-2-roof{
    width:50%;
    background-color: rgb(219, 206, 206);
    height:50%;
    border-radius: 10px 10px 0 0;
}
.car-2-wheels{
    width: 100%;
    height: 60%;
}
.car-2-wheel{
    position: relative;
    top: -5px;
    height: 100%;
    width: 13%;
    border: 1px solid;
    border-radius: 50%;
}
/*.car-2-rin{
    position:absolute;
    top: -5px;
    height: 50%;
    width: 13%;
    border: 1px solid;
    border-radius: 50%; 
    background-color: #fff;;
}*/
/*grid layout*/
.grid-container{
    display:grid;
    position:absolute;
    width:170px;
    height: 420px;
    left:550px;
    bottom:150px;
    padding:10px;
   grid-template-columns:auto auto auto;
   grid-template-rows:auto auto auto;
   
    background-color: aqua;
}
.wind-building{
    background-color:orange;
    border: 1px solid black;
    /*padding:5px;*/
    height:35% ;
    /*margin-left:5px;*/
    color:#fff;
    text-align:center;
}
.door-building{
    background-color:rgb(180, 59, 59);
    height:60% ;
    width:70%;
    margin:auto;
}
.door-handle{
    background-color:#fff;
    border:1px solid black;
    width:15%;
    height:10px;
}
.item-1{
    grid-column:1 / 2;
}
.item-2{
    grid-column:2 / 3;
}
.item-3{
    grid-column:1 / 2;
}
.item-4{
    grid-column:2 / 3; 
}
.item-5{
    grid-column:1 / 2;
}
.item-6{
    grid-column:2 / 3;
}
.item-7{
    grid-column:1 / 2;
}
.item-8{
    grid-column:2 / 3;
}
.item-9{
    grid-column:1 / 4;
}
.item-10{
    grid-column:1 / 3;
}