*{
    padding: 0;
    margin: 0;
}
@keyframes day-night{
    0% {background-color: lightskyblue ;}
    70% {background-color: rgb(9, 37, 54);}
    100% {background-color: lightskyblue ;}
}
body{
    background-color: lightskyblue;
    animation-name: day-night;
    animation-duration: 30s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.flex-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content:start
}
.justify-end{
    justify-content: end;
}
.items-center{
    align-items: center;
}
.items-end{
    align-items: end;
}
.absolute{
    position: absolute;
}
.self-center{
    align-self: center;
}
.bg-aqua{
    background-color: aqua;
}
.bg-black{
    background-color: black;
}
.justify-around{
    justify-content: space-around;
}

.sea {
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 123, 255);
}
.street-line-separate{
    bottom: 153px;
    height: 13px;
    width: 100%;
    border-bottom-style: dashed;
    color: rgb(171, 170, 166);
}
.street-line-1{
    bottom: 100px;
    height: 10px;
    width: 100%;
    background-color: rgb(71, 52, 0);
}
.street-line-2{
    bottom: 200px;
    height: 10px;
    width: 100%;
    background-color: rgb(71, 52, 0);
}
.street{
    bottom: 100px;
    height: 100px;
    width: 100%;
    background-color: grey;
}
.build-1{
    bottom: 150px;
    height: 420px;
    left: 20px;
    width: 150px;
}
.antenna{
    gap: 4px;
    margin-bottom: 15px;
}
.horizontal-antenna-stick{
    width: 20px;
    height: 2px;
}
.vertical-antenna-stick{
    top: 0;
    right: 50%;
    width: 2px;
    height: 30px;
}
.rooftop{
    width: 100px;
    height: 40px;
    background-color: brown;
    padding-left: 10px;
}
.rooftop-door{
    width: 18px;
    height: 30px;
    background-color: rgb(148, 97, 97);
    /*border-width: 1px 1px 0 1px;*/
    /*border-style: solid;*/
    /*padding-right: 2px;*/
}
.bracelet-rooftop-door{
    width: 2px;
    height: 2px;
    border-radius: 50%;
}
.floors-build-1{
    background-color: rgb(173, 163, 154);
    gap: 13.6px;
    padding-top: 20px;
}
.floor-window-container{
    gap: 20px;

}
.window-build-1{
    width: 50px;
    height: 50px;
    grid-template-areas: 
    'a b'
    'c d';
    background-image: lineal-gradient(grey,black);
    transition: backgroud-color 1s ease;
    
}
.window-separation-a{
    grid-area: a;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}
.window-separation-b{
    grid-area: b;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}
.window-separation-c{
    grid-area: c;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}
.window-separation-d{
    grid-area: d;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}
.build-door{
    width: 46px;
    height: 80px;
    background-color: rgb(148, 97, 97);
    padding-right: 4px;
}
.bracelet-build-door{
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
.window-build-1:hover{
    background-color: aqua;
}
.light-on{
    background-color: lightblue;
}
.light-on:hover{
    background-color:aqua;
}
/*car*/
.car-1{
    width:150px;
    height:60px;
    bottom:159px;
    left:200px;

}
.car-1-body{
    width:100%;
    background-color: brown;
    height:45%;
    border-radius: 5px;
}

.car-1-wheel-tire{
    position: relative;
    top: -5px;
    height: 100%;
    width: 13%;
    border: 1px solid;
    border-radius: 50%;
    background-color: yellow;
}.car-1-roof{
    width:50%;
    background-color: brown;
    height:35%;
    border-radius: 10px 10px 0 0;
}
.car-1-wheels{
    width: 100%;
    height: 40%;
}
.car-1-wheel{
    position: relative;
    top: -5px;
    height: 100%;
    width: 13%;
    border: 1px solid;
    border-radius: 50%;
}
@keyframes ovni-movement{
    0% {left:0%}
    50% {left:70%;transform: rotate(-20deg);}
    10% {left:0%}
}
@keyframes ovni-rotation{
    0% {transform: rotate(8deg);}
    50% {transform: rotate(-8deg);}
    100% {transform: rotate(8deg);}
}
.ovni{
    position:absolute;
    left: 40%;
    top:10%;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name:ovni-movement, ovni-rotation;
    animation-duration: 4s,1s; /*time effects duration*/
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(10deg); 
    
}
/*.ovni-tube-1{
    align-items: center;
    background-color: rgb(173, 163, 154);
    gap: 30px;
    padding-top: 30px;
    top:10%;
}*/
.ovni-top{
    position: relative;
    top: 21px;
    width: 40%;
    height: 55%;
    background-color: darkgray;
    border-radius: 50% 50% 10% 10%;
    display: flex;
    gap:6px;
    align-items: end;
    justify-content: center;
    padding-bottom: 10px;
}
.ovni-window{
   width: 15%; 
   height: 15px;
   background-color: yellow;
   border-radius: 10%;
}
.ovni-body{
    width: 100%;
    height: 45%;
    background-color: gainsboro;
    border-radius: 50% ;
}
@keyframes sun-movement {
    0%{transform:rotate(-60deg)}
   100%{transform:rotate(100deg)}     
}
.sun{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    left: 50%;
    transform-origin: 50% 100%;
    animation-name: sun-movement;
    transform: rotate(-60deg);
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.moto{
    position:absolute;
    left:150px;
    width: 400px;
    height: 200px;
    display: grid;
    grid-area: 
        '. . . . b'
        'a a a a a'
        'c c c c .'
        'c c c c .'
}
.moto-body{
    grid-area: a;
    display: flex;
}
.moto-body-back{
    width: 80%;
    height: 20%;
    background-color: crimson;
}


.moto-body-back-wheel{
    height: 40px;
    width: 40px;
    position: relative;
    left:15%;
    top:-10%;
    z-index: 1;
}
.moto-body-back-wheel-neumatic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(7, 7, 7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.moto-body-back-wheel-protector-1{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(252, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}
.moto-body-back-wheel-protector-2{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: darkgray;
}