/*ciudad en ccss*/
* {
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}
.absolute {
  position: absolute;
}
.self-center {
  align-self: center;
}

.bg-aqua {
  background-color: aqua;
}
.bg-black {
  background-color: black;
}
.justify-around {
  justify-content: space-around;
}

.grass {
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #1dcd2b;
}
.street {
  bottom: 100px;
  height: 100px;
  width: 100%;
  background-color: grey;
}

.car-1 {
  width: 150px;
  height: 60px;
  bottom: 125px;
  left: 200px;
}

.car-1-body {
  width: 100%;
  background-color: #1c388e;
  height: 45%;
  border-radius: 5px;
}
.car-1-roof {
  width: 50%;
  background-color: #1c388e;
  height: 35%;
  border-radius: 10px 10px 0 0;
}
.car-1-wheels {
  width: 100%;
  height: 40%;
}
.car-1-wheel {
  position: relative;
  top: -5px;
  height: 100%;
  width: 13%;
  border: 1px solid;
  border-radius: 50%;
}

.build-1 {
  bottom: 150px;
  height: 420px;
  left: 20px;
  width: 150px;
  background-color: #993030;
}

.floors-build-1 {
  background-color: olivedrab;
  gap: 30px;
  padding-top: 20px;
}
.floor-window-container {
  gap: 20px;
}

.build-2 {
  bottom: 150px;
  height: 420px;
  left: 400px;
  width: 150px;
  background-color: #f4c22b;
}

.floors-build-2 {
  background-color: olivedrab;
  gap: 30px;
  padding-top: 20px;
}

.car-2 {
  width: 150px;
  height: 60px;
  bottom: 125px;
  left: 600px;
}
.car-2-body {
  width: 100%;
  background-color: #981473;
  height: 45%;
  border-radius: 5px;
}
.car-2-roof {
  width: 50%;
  background-color: #981473;
  height: 35%;
  border-radius: 10px 10px 0 0;
}
.car-2-wheels {
  width: 100%;
  height: 40%;
}
.car-2-wheel {
  position: relative;
  top: -5px;
  height: 100%;
  width: 13%;
  border: 1px solid;
  border-radius: 50%;
}

.people-1 {
  width: 25px;
  height: 60px;
  bottom: 50px;
  left: 50px;
  background: #2a4d9d;
}

.people-1-top {
  width: 60%;
  height: 40%;
  position: relative;
  top: -25px;
  border: 1px solid;
  border-radius: 50%;
  background-color: pink;
}

.people-1-arms {
  width: 80px;
  height: 10px;
  background-color: #2a4d9d;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  top: -20px;
}

.people-1-legs {
  width: 5px;
  height: 30px;
  background-color: black;
}

.people-2 {
  width: 25px;
  height: 60px;
  bottom: 50px;
  left: 150px;
  background: #e12a5e;
}
.people-2-top {
  width: 60%;
  height: 40%;
  position: relative;
  top: -25px;
  border: 1px solid;
  border-radius: 50%;
  background-color: pink;
}

.people-2-hair {
  width: 10px;
  height: 30px;
  position: absolute;
  border-radius: 10px;
}

.hair-top {
  width: 20px;
  height: 15px;
  position: absolute;
  position: absolute;
  background-color: #e9d92e;
  top: -35px;
  left: -2px;
}

.hair-left {
  left: -10px;
  width: 10px;
  height: 30px;
  background-color: #e9d92e;
  border-radius: 10px;
  top: -35px;
}

.hair-right {
  left: 10px;
  width: 10px;
  height: 30px;
  background-color: #e9d92e;
  border-radius: 10px;
  top: -35px;
}

.people-2-arms {
  width: 80px;
  height: 10px;
  background-color: #e12a5e;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  top: -20px;
}

.people-2-legs {
  width: 5px;
  height: 30px;
  background-color: black;
}
