/* Valores por defeto */

* {
    padding: 0;
    margin: 0;
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    background-color: beige;
    font-family: sans-serif;
}

/* Estilos */

.basic-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basic-form__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 0.5rem;
    background-color: lightgray;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 1rem darkgray;
    padding: 1rem;
}

.basic-button {
    margin-top: 1rem;
    padding: 0.1rem 0.8rem;
    border-radius: 0.5rem;
    background-color: lightgray;

}

.home-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.off {
    display: none;
}