@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

/* resets */

* {
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    /* border-color: red;
    border-style: solid;
    border-width: 3px; */
    /* border: 3px solid red;  */
    background-color: cyan;
}

/* components */

.header, .footer {
    background-color: magenta;
    height: 5rem;
    width: 100%;
    position: fixed;
}

.header {
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    box-sizing: border-box;
}

.header__logo {
    font-family: 'Lobster Two';
    color: white;
    font-size: 2.5rem;
}

.header__nav {
    color: white;
}

.header__nav-item {
    color: inherit;
    text-decoration: none;
}

.header__nav-item--highlighted {
    font-weight: bold;
}

.footer {
    bottom: 0;
}

.main {
    /* border: 3px solid dodgerblue; */
    /* padding-top: 18%;
    padding-right: 5%;
    padding-bottom: 18%;
    padding-left: 5%; */
    /* padding: 18% 5% 18% 5%; */
    padding: 5rem 0rem;
}

.post {
    background-color:yellow;
    margin: 1rem;
    padding: 1rem;
}

.post--highlighted {
    background-color: rgb(255, 255, 223);
    font-weight: bold;
    font-style: italic;
}

.post__header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.post__author-image {
    width: 2rem;
}

.post__author-name {
    font-weight: bold;
}

.post__text {
    margin-bottom: 0;
}

.post__text--highlighted {
    font-style: italic;
}