body {
    font-family: sans-serif;
    background-color: beige;
}

.home {
    color:rgb(98, 9, 108);
    background-size: 100% 100%;
    background-image: url("bigsur.jpeg");
    background-repeat: no-repeat;
    padding: 1em;
}

